@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#toc{
  overflow-x: hidden;
  font-family: Open Sans;
  .toc-wrapper{
    border-top: 1px solid #c7c7c7;
    padding: 34px 0 20px 0;
    background-color: #f5f5f5;
  }
  .toc-header{
    position: relative;
    padding-left:110px;
    margin-bottom:20px;
    min-height: 65px;
    background-position: 24px 0px;
    background-repeat: no-repeat;
    background-size: 63px 65px;
    .header-text{
      min-width: 250px;
      margin-right:20px;
      position:absolute;
      top: 50%;
      transform: translateY(-50%);
      h2.header-title{
        margin-top:7px;
        font-size: 24px;
        font-weight: normal;
        color: #3e3e3e;
      }
      .header-author{
        margin-top:7px;
        font-size: 16px;
        font-weight: normal;
        color: #3e3e3e;
      }
    }
  }

  .list-group,
  .child-list-group{
    margin: 0;
    padding:0;
    list-style-type: none;
    border-top:1px solid #c7c7c7;
    &.show{
      display: block;
    }
    &.hide{
      display:none;
    }
  }

  .list-group {
    padding-left: 0;
  }

  .list-group-item {
    display: block;
    border-bottom: 1px solid #c7c7c7;
    background-color: #fff;
    a {
      text-decoration: none;
      padding:20px 24px;
      color: #3e3e3e;
      width:87%;
      span.title{
        font-size: 16px;
        font-weight: bold;
      }
    }
    &:hover {
      background-color: #F5F5F5;
    }
    FlatButton.icon{
      position: absolute;
      right: 10px;
      text-decoration: none;
      &.expanded{
        background: transparent url(./images/ic-closeup.svg)no-repeat 50% 90%;
      }
      &.collapsed{
        background: transparent url(./images/ic-dropdown.svg)no-repeat 50% 90%;
      }
    }
  }

  ul.child-list-group {//margin:2px 0 0 0;
    >li:last-child{
      border-bottom:none;
    }
    li {
      a{
        padding-left:45px;
        span.title{
          font-size: 16px;
          font-weight: normal;
          color: #3e3e3e;
        }
        &:hover {
          color: #0d65a6;
        }
      }
    }
  }

  li{
    a{
      display: inline-block;
      // width:88%;
      &.expanded{
        background: transparent url(./images/ic-closeup.svg)no-repeat 95% 50%;
      }
      &.collapsed{
        background: transparent url(./images/ic-dropdown.svg)no-repeat 95% 50%;
      }
      span.title{
        display:inline-block;
        //width:90%;
      }
      &.icon{
        display: inline;
        width:5%;
      }
    }
  }
}
.empty-message {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  float: none;
  color: #4c5259;
  font-size: 26px;
  font-weight: 200;
  line-height: 20px;
  padding: 20px;
    p{
      line-height: 1.2;
      margin-bottom: 0;
    }
}